div, p {
  font-family: Montserrat, Arial;
  margin: 0;
}

body {
  font-family: Montserrat, Arial;
  margin : 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  display:flex;
}
.resume-button {
  display: block;
  margin: 20px;
  background-color: rgb(220, 80, 20);
  color: white;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  align-content: center;
  font-weight: 500;
}
.content {
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  margin-bottom: -50px;
  width: flex 1;
}
.me {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 250px;
  display:inline-block;
  box-shadow: 50px -30px 0px rgb(220, 80, 20);
}
.name {
  font-size: 200px;
  text-decoration: underline;
  color: rgb(220, 80, 20);
  display: flex;
  width: flex 1;
  margin: 0;
}

.left-side, .right-side {
  display: flex;
  flex: 1;
  padding: 40px;
}
.left-side {
  flex-direction: column;
  align-items: left;
  margin-left: 30px;
}
.right-side {
  margin-left: 350px;
}
.statement {
  font-weight: 600;
  margin-bottom: 40px;
  font-size: 60px;
}
.resume {
  font-size: 50px;
}
a {
  color:white;
  text-decoration: none;
  font-family: Montserrat, Arial;
  font-size: 20px;
}
.logo {
  width: 150px;
}
.school {
  display:flex;
  align-items: center;
  font-size: 30px;
}
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}